gradio
modal
python-Levenshtein
faster-whisper
pandas
jupyter
ipykernel
nbformat
nbclient
torch
transformers==4.40.2
accelerate==0.29.3
peft==0.10.0
trl==0.8.6
bitsandbytes
datasets
rich
sentencepiece
